# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin

# editor and IDE paraphernalia
.idea
*.swp
*.swo
*~

# ansible
*.retry
*.log
__pycache__/
.cache

# Galaxy artifacts.
*.tar.gz
