resources:
- manager.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
- name: manager-config
  files:
  - controller_manager_config.yaml

patchesStrategicMerge:
- enable_turbo_patch.yaml
# - profile_tasks_patch.yaml
